.navbar {
    background-color: var(--color-primary);
    position: relative;
    height: 74px;
    padding: 0px 32px;
    /* padding-left: 32px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 992px){
    .desktopSearch{
      display: none;
    }
  }